/* Table of Contents */
/*

    -Header Content
    -Main Content
    -Footer Content
    -Social Media Icons
    -Sudoku Content

*/

body {
    background-color: rgb(87, 86, 86);
    color: white;
}

/* Header Content */
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title {
    font-size: 36px;
    color: rgb(212, 211, 211);
}

.menu {
    font-size: 20px;
    background-color: rgb(87, 86, 86);
    border: solid rgb(87, 86, 86);
    color:rgb(212, 211, 211);
    padding: 5px;
    text-decoration: none;
}

.menu:hover {
    background-color: rgb(212, 211, 211);
    color: rgb(87, 86, 86);
    border: solid rgb(212, 211, 211);
    opacity: 100%;
}

/* Main Content */
.main {
    background-color: rgb(212, 211, 211);
    color: black;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.padding {
    padding-left: 20px;
    padding-right: 20px;
}

/* Footer Content */
/*NEED CONTENT*/
.footer {
    background-color: rgb(87, 86, 86);
}

.copyright {
    color: rgb(212, 211, 211);
}

.links {
    display: flex;
    justify-content: flex-end;
}

/* Social Media Icons */
.social {
    display: flex;
    justify-content: center;
}

.fa {
    padding: 10px;
    text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: white;
  }
  
  .fa-twitter {
    color: white;
  }

  .fa-linkedin {
    color: white;
  }

  .fa-instagram {
    color: white;
  }
  
  .fa-pinterest {
    color: white;
  }

/* Sukodu Content */
table {
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 40vw;
    height: 40vw;
}

tr, td {
    border: 1px solid black;
}

.grid {
    display: flex;
    justify-content: center;
}

#right {
    border-right: 3px solid black;
}

#rightBottom {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

#rightTop {
    border-right: 3px solid black;
    border-top: 3px solid black;
}

#left {
    border-left: 3px solid black;
}

#leftBottom {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

#leftTop {
    border-left: 3px solid black;
    border-top: 3px solid black;
}

#bottom {
    border-bottom: 3px solid black;
}

#top {
    border-top: 3px solid black;
}